html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Restaurant Manager Home Page
        link(rel="icon", href="/images/favicon.png")
        link(rel="stylesheet", href="/CSS/home.css")
        script(type="text/javascript" src="/client.js")

    body(onload="initHome();")
        div#head
        div#welcome
        div#img
            img(src="/images/favicon.png")

        

    